:root {
  /* Override VKUI */
  --tabbar_active_icon: #ff9900;
  --background_content: #fafafa;
  --tabbar_height: 60px;

  --font-common: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
  --primary: #0a121f;
  --secondary: #9fa6b6;
  --accent: #ff9900;
  --accent-blue: #428af7;
  --border: #ececec;
  --gray: #d2d2d2;
  --icon: #babac0;
  --yellow: #f4c038;
  --background: #e5e5e5;
  --backgroundWhite: #fff;
  --textColor: #0a121f;
  --textColorWhite: #fff;
  --colorRed: #fe3d2e;

  --step1: #ececec;
  --step2: #d2d2d2;
  --step3: #babac0;
  --step4: #9fa6b6;
  --step5: #686e75;

  --paddingMain: 15px;

  --radiusMain: 10px;
  --radiusSecond: 5px;

  --boxShadow: 0 0 50px rgba(188, 188, 188, 0.25);
}

*,
:after,
:before {
  box-sizing: border-box;
}

body,
button {
  font-family: var(--font-common);
  color: var(--textColor);
}

.vkuiPanel__in-after {
  height: initial;
}
