:root {
  /* Override VKUI */
  --tabbar_active_icon: #ff9900;
  --background_content: #fafafa;
  --tabbar_height: 60px;

  --primary: #0a121f;
  --secondary: #9fa6b6;
  --accent: #ff9900;
  --border: #eeeeee;
  --yellow: #f4c038;
  --background: #e5e5e5;
  --backgroundWhite: #fff;
  --textColor: #0a121f;
  --textColorWhite: #fff;

  --paddingMain: 15px;

  --radiusMain: 10px;
  --radiusSecond: 5px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-common);
}

.vkuiPanel__in-after {
  height: initial;
}
